<strong>Olá, {{deliveryman}}</strong>
<p>Informamos que foi cadastrado um novo produto, já esta disponivel para a retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}}
</p>
